body{
    text-align: center;
    background-color: black;
}
/*HEADINGS*/
h1{
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
   font-weight: normal;
   font-size: 50px;
   color: white;
   text-align: center;
}
.smallhead{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
}
.smallerhead{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: grey;

}
/*links*/
.downlink{
    color: aquamarine;
    font-size: 16px;
}
/*footer*/
.copyright{
    color: grey;
    font-size: 21px;
    text-align: right;
}